* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
    font-style: normal;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text-project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;    
}

.top-heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1F3F68;
    line-height: 74px;
    font-weight: 300;
    margin-bottom: 32px;
}

.top-text {
    width: 425px;
}

.top-info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top-back.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top-button {
    text-align: center;
    letter-spacing: 0.04em;
    font-size: 16px;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.heading3 {
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    font-weight: 300;
    line-height: 46px;
}

.what-we-do {
    padding-top: 64px;
}

.card-box {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.card-img {
    align-self: center;
    margin-bottom: 51px;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 30px;
}

.project {
    padding-top: 64px;
}

.project-items {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project-item {
    position: relative;
    flex-grow: 1;
}

.margin-right {
    margin-right: 32px;
}

.project-img {
    width: 100%;
}

.project-text {
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project-texts {
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;  
    position: absolute;
    top: 32px;
    left: 32px;
}

.bottom {
    background: #316099;
    margin-top: 112px;
    position: relative;;
}

.heading3-footer {
    margin-top: 91px;
    font-weight: normal;
    color: #FFFFFF;
    width: 340px;
    text-align: left;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.text-footer {
    margin-top: 32px;
    color: #FFFFFF;
    max-width: 494px;
}

.hr-footer {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    width: 100%;
    margin-bottom: 32px;
}

.footer-button {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 16px 80px;
    box-sizing: border-box;
    background: #5A98D0;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 150px;
    text-decoration: none;
}

.footer {
    padding-bottom: 64px;
}

.footer-contacts {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.footer-rights {
    margin-top: 64px;
    opacity: 0.4;
}

.footer-contacts-li-div {
    display: flex;
    margin-top: 32px;
}

.footer-contacts-li-div-1it {
    width: 23px;
    margin-right: 19px;
}

.footer-contacts-li-div-2it {
    width: 316px;
}

.top-info-contacts {
    flex-grow: 1;
    background-image: url(img/top-back-contact-us.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}

.top-heading-contacts {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em; 
    color: #FFFFFF;
    margin-top: 51px;
}

.top-text-contacts {
    margin: 16px auto 49px;
    max-width: 780px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-container {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
}

.middle-content {
    margin-top: 62px;
}

.middle-content-left {
    width: 300px;
}

.middle-content-right {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 540px;
    box-sizing: border-box;
    padding: 56px;
}

.heading4-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 24px;
}

.contacts-img-left {
    margin-bottom: 16px;
}

.ul-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    list-style-type: none;
}

.contacts-online-service {
    font-weight: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.map {
    margin-top: 96px;
}

.form-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
}

.input {
    width: 428px;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding: 21px 42px;
}

.input-msg {
    height: 144px;
}

.send-us-h4 {
    margin-bottom: 48px;
}

.input-btn {
    width: 428px;
    height: 72px; 
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 40px;
    text-transform: uppercase;
    border: 0;
}   

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top-box {
        min-height: 768px;
    }

    .top-info {
        background-position: right 280px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        margin-bottom: 32px;
    }

    .footer-top {
        padding-left: 92px;
        padding-right: 92px;
    }

    .heading3-footer {
        margin-top: 47px;
        width: 336px;
    }

    .footer-button {
        padding: 5px 40px;
    }

    .footer-contacts {
        flex-direction: column;
    }

    .footer-contacts {
        padding-left: 92px;
        padding-right: 92px;
    }

    .footer-contacts-li-div-2it {
        width: 100%;
    }

    .footer {
        padding-bottom: 64px;    
    }

    .footer-rights {
        margin-left: 92px;
    }

    .top-contacts .top-box {
        min-height: 100px;
    }

    .contacts-container {
        flex-direction: column;
        align-items: center;
    }

    .middle-content {
        margin-top: 64px;
    }

    .middle-content-left {
        margin-bottom: 64px;    
    }

    .contacts-container-small {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 667px) {
    .top-info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top-heading-contacts {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
    }

    .top-text-contacts {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
    }

    .header {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top-box {
        min-height: 376px;
    }

    .top-heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .top-text {
        width: 100%;
        text-align: center;
    }

    .top-button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 28px;
    }

    .form-label {
        font-size: 14px;
        line-height: 30px;
    }

    .input {
        height: 46px;
    }

    .input-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        height: 46px;
    }

    .card-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text-project {
        width: 100%;
    }

    .project-text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project-texts {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }

    .project-items {
        flex-direction: column;
        margin-top: 16px;
    }

    .margin-right {
        margin: 0;
    }

   .project-item {
        margin-bottom: 16px;
    }

    .footer-top {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .heading3-footer {
        width: 100%;
        text-align: center;        
        margin-top: 18px;
    }

    .text-footer {
        width: 100%;
        text-align: center;
    }

    .footer-button {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .footer-contacts {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-rights {
        margin-left: 0;
        margin-top: 37px;
        padding-bottom: 32px;
    }

    .footer-contacts-li-div-2it {
        text-align-last: left;
    }

    .contacts-container {
        padding: 16px;
    }

    .contacts-container-small {
        padding: 0;
    }

    .top-info-contacts {
        margin-top: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .top-text-contacts {
        width: 100%;
    }

    .middle-content-right {
        width: 100%;
        padding: 35px;
        margin-right: 16px;        
        margin-left: 16px;
    }

    .input {
        width: 100%;
    }

    .input-msg {
        height: 92px;
    }

    .input-btn {
        width: 100%;
        margin-top: 0;
    }

    .footer {
        padding-bottom: 0;
    }
    .bottom {
        margin-top: 32px;
    }

    .map {
        margin-top: 32px;
    }
} 